@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:2550px) { /*pc*/
	p {
		margin: 8px 0;
		font-weight: 600;
		font-size: 12px;
	}
	img {
		max-width: 75%; /* 이미지의 최대사이즈 */
		width: auto;
		height: auto;
	}
	
}

@media screen and (min-width:0px) and (max-width:767px) { /*모바일*/
	p {
		margin: 4px 0;
		font-weight: 500;
		font-size: 8px; 
	}
	img {
		max-width: 80%; /* 이미지의 최대사이즈 */
		width: auto;
		height: auto;
	}
}