@charset "UTF-8";

@media screen and (min-width:600px) { /*pc*/
    ou,ul{
      list-style:none;
   }
    .panel-body:not(.two-col) {
        padding: 0px;
    }

    .glyphicon {
        margin-right: 5px;
    }

    .glyphicon-new-window {
        margin-left: 5px;
    }

    .panel-body .radio, .panel-body .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-body .list-group {
        margin-bottom: 0;
    }

    .margin-bottom-none {
        margin-bottom: 0;
    }

    .panel-body .radio label, .panel-body .checkbox label {
        display: block;
    }
    
      .pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: center;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

    #pb-modalreglog-progressbar
    {
        border-radius: 2px;
    }
    
    .grid{
       margin:0 0 60px 0;
       border-bottom:1px solid #ccc;
    }
    
    .user_icon{
      padding:0 0 10px 0;
      text-align:right;
   }
   
   .bn{
      margin-bottom:50px;
   }
   
   .sec_header{
      margin-bottom:50px;
   }
   
   p{
      margin:10px 0;
      font-weight:600;
      font-size:12px;
   }
   
   .image{
		max-width: 80%; /* 이미지의 최대사이즈 */
	    width: auto;
	    height: auto;
	}

}

@media screen and (max-width:599px) { /*모바일*/
    ou,ul{
      list-style:none;
   }
    .panel-body:not(.two-col) {
        padding: 0px;
    }

    .glyphicon {
        margin-right: 5px;
    }

    .glyphicon-new-window {
        margin-left: 5px;
    }

    .panel-body .radio, .panel-body .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .panel-body .list-group {
        margin-bottom: 0;
    }

    .margin-bottom-none {
        margin-bottom: 0;
    }

    .panel-body .radio label, .panel-body .checkbox label {
        display: block;
    }
    
      .pb-modalreglog-container
    {
        margin-top: 100px;
    }

    .pb-modalreglog-legend
    {
        text-align: center;
    }

    .pb-modalreglog-input-group
    {
        margin: auto;
    }

    .pb-modalreglog-submit
    {
        margin-left: 5px;
    }

    .pb-modalreglog-form-reg
    {
        text-align: center;
    }

    .pb-modalreglog-footer p
    {
        text-align: center;
        margin-top: 20px;
    }

    #pb-modalreglog-progressbar
    {
        border-radius: 2px;
    }
    
    .grid{
       margin:0 0 60px 0;
       border-bottom:1px solid #ccc;
    }
    
    .user_icon{
      padding:0 0 10px 0;
      text-align:right;
   }
   
   .bn{
      margin-bottom:50px;
   }
   
   .sec_header{
      margin-bottom:50px;
   }
   
   p{
      margin:10px 0;
      font-weight:600;
      font-size:10px;
   }
	
	.image{
		max-width: 80%; /* 이미지의 최대사이즈 */
	    width: auto;
	    height: auto;
	}
}