@charset "UTF-8";
/*푸터*/
#xs-footer {
	border-top: 1px solid rgba(120, 120, 120, 0.2);
	background-color: white;
}

.items-area {
	padding-top: 7px;
}

.items-area:hover {
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.1);
}

.footer-item {
	color: #f74788;
	
}

.footer-item:hover {
	color: #f74788;
	text-decoration: none;
}

.footer-item:link {
	color: #f74788;
	text-decoration: none;
}

.footer-item:visited {
	color: #f74788;
	text-decoration: none;
}

.footer-item:active {
	color: #f74788;
	text-decoration: none;
}

.footer-item .glyphicon {
	font-size: 1.5em;
}

.item-font {
	margin-top: -3px;
	font-size: 0.9em;
}

#footer {
	position: relative;
	top: 50px;
	left: 0px;
	bottom: 0px;
	min-height: 150x;
	width: 100%;
	background: #f8f8f8;
}

#rated {
	font-size: 1.05em;
	font-weight: bold;
	margin-bottom: 25px;
}

#ratedCnt {
	color: #ffa136;
}

#footer-menu {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	height: 150px;
}

#footer-list {
	padding-left: 0;
}

#footer-list>li {
	font-size: 0.9em;
	margin-left: 0;
	margin-right: 25px;
	display: inline;
	text-decoration: none;
}

#footer-list>li a {
	color: black;
}

#footer-list>li a:hover {
	text-decoration: none;
}
#scroll-header{
	position:fixed;
}

#brand_text {
	color: #f74788;
	font-size: 1.5em;
	margin-top: 10px;
	padding-left: 25px;
}

#profile_img {
	width: 35px;
	height: 35px;
}

#search-icon {
	color: #878787;
}
#page-register > body {
font-family:'PT Sans', sans-serif;
}	

.panel {
	margin-top: 50px;
	margin-right: 10px;
}

.col-md-8>button {
	display: block;
	margin: auto;
}

.social>a {
	width: 100%;
}

#form-register {
	margin: 10% auto;
	border: 1px solid rgba(120, 120, 120, 0.3);
	border-radius: 5px;
}
#main-page-content{
	margin-top:80px;
}
.items-box{
	width:100%;
	min-height:300px;
}
.main-img{
	z-index:1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.text-box{
	background-color:white;
	width:100%;
	margin-top:-50px;
	min-height:80px;
	z-index:2;
	position:relative;
	padding:8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px; 
	border-top:1.5px solid rgba(125,125,125,0.5);
	border-left:1px solid rgba(125,125,125,0.3);
	border-right:1px solid rgba(125,125,125,0.3);
	border-bottom:1px solid rgba(125,125,125,0.3);
}
.items-box-col3{
	z-index:1;
	width:100%;
	max-height:250px;
}
.main-img-col3{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.text-box-col3{
	background-color:white;
	width:100%;
	margin-top:-30px;
	height:70px;
	z-index:2;
	position:relative;
	padding:8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px; 
	border-top:1.5px solid rgba(125,125,125,0.5);
	border-left:1px solid rgba(125,125,125,0.3);
	border-right:1px solid rgba(125,125,125,0.3);
	border-bottom:1px solid rgba(125,125,125,0.3);
}
.movie-title{
	font-size:1.25em;
}
.sub-title{
	font-size:0.85em;
	color:rgba(80,80,80,0.7);
}
.custom-row{
	margin-bottom:50px;
	padding-bottom:40px;
}
.rank-plus{
	font-size:0.5em;
	color:#4e41e0;
}
.rank-minus{
	font-size:0.5em;
	color:#e24141;
}
.boxOffice{
	width:100%;
	border-radius: 10px;
}
#etc-navbar{
	position:fixed;
	vertical-align: middle;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid rgba(120, 120, 120, 0.3);
	box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
	z-index: 4;
	background-color:white;
	border-radius:none;
}
#scrolled-navbar{
	position:fixed;
	vertical-align: middle;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid rgba(120, 120, 120, 0.3);
	box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
	z-index: 4;
	background-color:white;
	border-radius:none;
}
#top-navbar{
	position:fixed;
	vertical-align: middle;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 100%;
	z-index: 4;
	background-color:transparent;
	border-radius:none;
}
.nav>li a {
	padding-top: 20px;
	font-size: 1.0em;
	color: black;
}
#top-navbar .nav>li a {
	padding-top: 20px;
	font-size: 1.0em;
	color: white;
}
#top-navbar input[type=text]{
	background-color:rgba(0,0,0,0.2);
	border:1px solid rgba(255,255,255,0.1);
}
#top-navbar input[type=text]::placeholder{
	color:rgba(255, 255, 255, 0.8);
}
#top-navbar .btn {
	background-color: rgba(0,0,0,0.2);
}
#top-navbar .btn-default {
	text-shadow:none;
	border:1px solid rgba(255,255,255,0.1);
	background: rgba(0,0,0,0.2);
}
@media screen and (min-width:1201px) and (max-width:2550px) {
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 400px;
		background-color: #262626;
	}
	#main_banner::after{
		top: 0;
		position: absoulte;
		width: 100%;
		height: 400px;
		background-color: #262626;
	}
	#banner-text {
		position: absoulte;
		vertical-align: -webkit-baseline-middle;
		text-align: center;
		margin: 0;
		padding-top: 160px;
		font-size: 3.5em;
		color: white;
	}
	
	.search-form {
		z-index:10;
		position: absolute;
		top: 375px;
		width: 45%;
		transform: translateX(-50%);
		left: 50%;
	}
	.search-form input[type=text] {
		width: 100%;
	}
	.custom-icon {
		background-color: #f74788;
	}
	.header-menu {
		position: absolute;
		z-index:5;
		top: 10px;
		right: 10px;
	}
	.header-item {
		font-size: 1.1em;
		padding: 10px 10px 10px 10px;
		background-color: white;
	}
	#search-field {
		padding-top: 5px;
		margin-left: 20%;
		float: left;
		width: 50%;
	}
	#main-content {
		top: 100px;
		position: relative;
	}
	#img-test {
		width: 50%;
		height: 400px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		box-shadow: inset -70px 0 100px #262626, inset 70px 0 100px #262626;
	}
}

@media screen and (min-width:768px) and (max-width:1200px) {
	/*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 330px;
		background-color: #262626;
	}
	#banner-text {
		position: absoulte;
		vertical-align: -webkit-baseline-middle;
		text-align: center;
		margin: 0;
		padding-top: 160px;
		font-size: 3.5em;
		color: white;
	}
	.search-form {
		z-index:10;
		position: absolute;
		top: 310px;
		width: 60%;
		transform: translateX(-50%);
		left: 50%;
	}
	.search-form input[type=text] {
		width: 100%;
	}
	.custom-icon {
		background-color: #f74788;
	}
	.header-menu {
		position: fixed;
		z-index:3;
		top: 10px;
		right: 10px;
	}
	.header-item {
		font-size: 1.1em;
		padding: 10px 10px 10px 10px;
		border-radius: 5px;
		background-color: white;
	}
	#search-field {
		padding-top: 5px;
		margin-left: 8%;
		float: left;
		width: 40%;
	}
	#main-content {
		top: 100px;
		position: absoulte;
	}
	#img-test {
		width: 60%;
		height: 330px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		box-shadow: inset -70px 0 100px #262626, inset 70px 0 100px #262626;
	}	
}

@media screen and (min-width:425px) and (max-width:767px) {
	/*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 250px;
		background-color: #262626;
	}
	#banner-text {
		position: absoulte;
		vertical-align: -webkit-baseline-middle;
		text-align: center;
		margin: 0;
		padding-top: 100px;
		color: white;
	}
	.search-form {
		z-index:10;
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: white;
		border-bottom:1px solid rgba(120,120,120,0.4);
		box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
	}
	.search-form-top {
		z-index:10;
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: transparent;
	}
	.search-form .input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	.search-form-top .input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	.search-form-top > div .form-control{
		background-color:rgba(0,0,0,0.2);
		border-top:1px solid rgba(255,255,255,0.5);
		border-left:1px solid rgba(255,255,255,0.5);
		border-right:1px solid rgba(0,0,0,0);
		border-bottom:1px solid rgba(255,255,255,0.5);
		color:#fff;
	}
	.search-form-top > #xs-search input[type=text]::placeholder{
		color:rgba(255,255,255,0.8);
	}
	.search-form-top > div .search-btn {
		background-color:rgba(0,0,0,0.2);
		border-top:1px solid rgba(255,255,255,0.5);
		border-left:1px solid rgba(0,0,0,0);
		border-right:1px solid rgba(255,255,255,0.5);
		border-bottom:1px solid rgba(255,255,255,0.5);
	}
	#md-search {
		position: fixed;
		background-color: white;
		padding: 10px 8px;
		z-index: 4;
	}
	#main-content {
		top: 100px;
		position: relative;
	}
	#img-test {
		width: 80%;
		height: 250px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		box-shadow: inset -70px 0 100px #262626, inset 70px 0 100px #262626;
	}
}

@media screen and (min-width:0px) and (max-width:424px) {
	/*占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 200px;
		background-color: #262626;
	}
	#banner-text {
		position: absoulte;
		vertical-align: -webkit-baseline-middle;
		text-align: center;
		margin: 0;
		padding-top: 100px;
		color: white;
	}
	.search-form {
		z-index:10;
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: white;
		border-bottom:1px solid rgba(120,120,120,0.2);
		box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
	}
	.search-form-top {
		z-index:10;
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: transparent;
	}
	.search-form .input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	.search-form-top .input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	.search-form-top > div .form-control{
		background-color:rgba(0,0,0,0.2);
		border-top:1px solid rgba(255,255,255,0.5);
		border-left:1px solid rgba(255,255,255,0.5);
		border-right:1px solid rgba(0,0,0,0);
		border-bottom:1px solid rgba(255,255,255,0.5);
		color:#fff;
	}
	.search-form-top > #xs-search input[type=text]::placeholder{
		color:rgba(255,255,255,0.8);
	}
	.search-form-top > div .search-btn {
		background-color:rgba(0,0,0,0.2);
		border-top:1px solid rgba(255,255,255,0.5);
		border-left:1px solid rgba(0,0,0,0);
		border-right:1px solid rgba(255,255,255,0.5);
		border-bottom:1px solid rgba(255,255,255,0.5);
	}
	#md-search {
		position: fixed;
		width: 100%;
		background-color: white;
		margin: 0 auto;
		padding: 10px 8px 10px 8px;
		z-index: 4;
	}
	#main-content {
		top: 100px;
		position: relative;
	}
	#img-test {
		width: 100%;
		height: 200px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100%;
		box-shadow: inset -70px 0 100px #262626, inset 70px 0 100px #262626;
		filter:alpha(opacity=20);
	}
}