/*푸터 고정*/
#footer {
	position: relative;
	top: 650px;
	left: 0px;
	bottom: 0px;
	height: 150x;
	width: 100%;
	background: #f8f8f8;
}

#rated {
	font-size: 1.05em;
	font-weight: bold;
	margin-bottom: 25px;
}

#ratedCnt {
	color: #ffa136;
}

#footer-menu {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	height: 150px;
}

#footer-list {
	padding-left: 0;
}

#footer-list>li {
	font-size: 0.9em;
	margin-left: 0;
	margin-right: 25px;
	display: inline;
	text-decoration: none;
}

#footer-list>li a {
	color: black;
}

#footer-list>li a:hover {
	text-decoration: none;
}

.navbar {
	position: fixed; vertical-align : middle;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 1px solid rgba(120, 120, 120, 0.3);
	box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.2);
	vertical-align: middle;
}

.nav>li a {
	padding-top: 20px;
	font-size: 1.0em;
	color: black;
}

#brand_text {
	color: #f74788;
	font-size: 1.5em;
	margin-top: 10px;
	padding-left: 25px;
}

#profile_img {
	width: 35px;
	height: 35px;
}

#search-icon {
	color: #878787;
}
/*메인헤더*/
#login-btn {
	cursor: pointer;
}

/*회원가입*/
#page-register {
	
}

#form-register {
	margin: 10% auto;
	border: 1px solid rgba(120, 120, 120, 0.3);
	border-radius: 5px;
}
/*데스크탑*/
@media screen and (min-width:1281px) and (max-width:2550px) {
	/*메인페이지*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 400px;
		background-color: #333;
	}
	#banner-text {
		position: absoulte;
		top: 200px;
		text-align: center;
		margin: 0;
		padding-top: 160px;
		font-size: 3.5em;
		color: white;
	}
	.search-form {
		position: absolute;
		top: 375px;
		width: 45%;
		transform: translateX(-50%);
		left: 50%;
	}
	.search-form input[type=text] {
		width: 100%;
	}
	.custom-icon {
		background-color: #f74788;
	}
	.header-menu {
		position: fixed;
		top: 0px;
		right: 10px;
	}
	.header-item {
		font-size: 1.1em;
		padding: 10px 10px 10px 10px;
	}
	#search-field {
		padding-top: 5px;
		margin-left: 20%;
		float: left;
		width: 50%;
	}
	#main-content{
		top:100px;
		position:relative;
	}
}

@media screen and (min-width:769px) and (max-width:1280px) {
	/*메인페이지*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 400px;
		background-color: #333;
	}
	#banner-text {
		position: absoulte;
		top: 200px;
		text-align: center;
		margin: 0;
		padding-top: 160px;
		font-size: 3.5em;
		color: white;
	}
	.search-form {
		position: absolute;
		top: 375px;
		width: 60%;
		transform: translateX(-50%);
		left: 50%;
	}
	.search-form input[type=text] {
		width: 100%;
	}
	.custom-icon {
		background-color: #f74788;
	}
	.header-menu {
		position: fixed;
		top: 0px;
		right: 10px;
	}
	.header-item {
		font-size: 1.1em;
		padding: 10px 10px 10px 10px;
	}
	#search-field {
		padding-top: 5px;
		margin-left: 8%;
		float: left;
		width: 40%;
	}
	#main-content{
		top:100px;
		position:absoulte;
	}
}

@media screen and (min-width:425px) and (max-width:768px) {
	/*메인페이지*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 250px;
		background-color: #333;
	}
	#banner-text {
		position: absoulte;
		top: 100px;
		text-align: center;
		margin: 0;
		padding-top: 100px;
		color: white;
	}
	.search-form {
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: white;
		border-bottom: 1px solid #222;
	}
	.search-form . input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	#md-search{
		position:fixed;
		background-color:white;
		padding:10px 8px 
	}
}

@media screen and (min-width:0px) and (max-width:424px) {
	/*메인페이지*/
	#main_banner {
		top: 0;
		position: absoulte;
		width: 100%;
		height: 250px;
		background-color: #333;
	}
	#banner-text {
		position: absoulte;
		top: 100px;
		text-align: center;
		margin: 0;
		padding-top: 100px;
		color: white;
	}
	.search-form {
		width: 100%;
		position: fixed;
		padding-top: 8px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 8px;
		background-color: white;
		border-bottom: 1px solid #222;
	}
	.search-form . input-group-addon .input-group input[type=text] {
		width: 90%;
		transform: translateX(-50%);
		left: 50%;
		margin: 0 auto;
	}
	#md-search{
		position:fixed;
		width:95%;
		background-color:white;
		margin:0 auto;
		padding:10px 8px 10px 8px;
	}  
}